html {
  background-color: #242424;
  color: #f1f1f1;
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px; }

body {
  margin: 0px;
  padding: 0px;
  font-size: 12px; }

div#status {
  height: 3%;
  margin: 0px;
  padding: 0px;
  color: #e2e2e2;
  font-size: 12px;
  background-color: #242424; }
  div#status p {
    padding-top: 3px;
    padding-left: 5px; }

div#canvas-container {
  margin: 0px;
  padding: 0px;
  overflow: scroll;
  background-color: #4d4e50;
  height: 97%;
  width: 75%;
  float: left;
  text-align: center; }

#canvas {
  width: 960px;
  height: 1100px; }

div#menu {
  width: 25%;
  margin: 0px;
  float: right;
  background-color: #181818;
  height: 97%; }
  div#menu div#elements {
    padding: 5px;
    padding-bottom: 0px; }
    div#menu div#elements i {
      -webkit-transition: background-color 5;
      -moz-transition: background-color 5;
      -ms-transition: background-color 5;
      -o-transition: background-color 5;
      transition: background-color 5;
      background-color: #505354;
      display: inline-block;
      width: 25px;
      height: 25px;
      text-align: center;
      line-height: 25px;
      cursor: pointer;
      font-size: 15px; }
      div#menu div#elements i:hover {
        background-color: #2d2d2d; }
  div#menu div.menu-box {
    margin: 0px;
    padding: 5px; }
    div#menu div.menu-box div.prop-container {
      background-color: #2d2d2d;
      background-image: url("../img/box-bg.gif");
      background-repeat: repeat-x; }
    div#menu div.menu-box div#properties-container {
      text-align: center;
      margin: 0px;
      padding: 0px; }
      div#menu div.menu-box div#properties-container h1 {
        text-transform: uppercase;
        margin-bottom: 5px; }
        div#menu div.menu-box div#properties-container h1 i {
          cursor: pointer;
          margin-left: 5px; }
      div#menu div.menu-box div#properties-container div.prop-item {
        margin-bottom: 2px;
        position: relative; }
        div#menu div.menu-box div#properties-container div.prop-item label {
          background-color: #4f5253;
          text-align: left;
          text-transform: uppercase;
          position: absolute;
          top: 2px;
          left: 0px;
          padding-left: 3px;
          font-size: 12px;
          width: 20%; }
        div#menu div.menu-box div#properties-container div.prop-item input {
          outline: none;
          background-color: #4f5253;
          color: #272727;
          text-align: right;
          border: none;
          position: absolute;
          right: 0px;
          top: 0px;
          font-size: 12px;
          padding-right: 3px;
          width: 80%; }
      div#menu div.menu-box div#properties-container button {
        width: 100%;
        display: block;
        background-color: #3f3f3f;
        text-align: center;
        border: none;
        color: white;
        text-transform: uppercase;
        font-size: 11px;
        padding: 2px;
        cursor: pointer; }
        div#menu div.menu-box div#properties-container button:hover {
          opacity: 0.85; }
      div#menu div.menu-box div#properties-container button#btn-save-changes {
        margin-top: 25px; }
      div#menu div.menu-box div#properties-container button.warning {
        background-color: #e44972; }
      div#menu div.menu-box div#properties-container textarea {
        width: 100%;
        background-color: #e2e2e2;
        border: 1px solid #393939;
        outline: none;
        height: 250px; }
    div#menu div.menu-box ul {
      border-bottom: 1px solid black; }
      div#menu div.menu-box ul li {
        display: inline-block;
        color: #b2b2b2;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#595959), to(#323232));
        background-image: -webkit-linear-gradient(top, #595959, #323232);
        background-image: -moz-linear-gradient(top, #595959, #323232);
        background-image: -o-linear-gradient(top, #595959, #323232);
        background-image: linear-gradient(to bottom, #595959, #323232);
        border-top: 1px solid #646667;
        text-transform: uppercase;
        padding: 5px 10px;
        font-size: 11px;
        cursor: pointer;
        width: 80px;
        text-align: center; }
        div#menu div.menu-box ul li.active {
          color: white;
          background-image: -webkit-gradient(linear, left top, left bottom, from(#828383), to(#646566));
          background-image: -webkit-linear-gradient(top, #828383, #646566);
          background-image: -moz-linear-gradient(top, #828383, #646566);
          background-image: -o-linear-gradient(top, #828383, #646566);
          background-image: linear-gradient(to bottom, #828383, #646566); }
        div#menu div.menu-box ul li:hover {
          opacity: 0.9; }

div.clear {
  clear: both; }

div#css-container {
  position: relative; }
