html {
  background-color: #333333;
  color: #f1f1f1;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
  padding: 0px; }

body {
  margin: 0px;
  padding: 0px;
  font-size: 12px; }

div#top-menu {
  background-color: white;
  color: #111;
  text-transform: uppercase;
  font-size: 11px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%; }
  div#top-menu ul li {
    display: inline-block;
    padding: 5px;
    cursor: pointer; }
    div#top-menu ul li:hover {
      background-color: #eee; }
  div#top-menu ul li.selected {
    color: #8cbf26; }
  div#top-menu div#top-submenu {
    background-color: #333333;
    color: white;
    width: 100%; }
    div#top-menu div#top-submenu ul {
      display: none; }
      div#top-menu div#top-submenu ul li:hover {
        background-color: #555555; }

div#status {
  color: white;
  font-size: 10px;
  text-transform: uppercase;
  background-color: #333333;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%; }
  div#status p {
    padding-top: 3px;
    padding-left: 5px; }

div#workspace {
  height: 100%;
  overflow: hidden; }
  div#workspace div#canvas-container {
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: #5A5B5D;
    height: 100%;
    width: 80%;
    float: left;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 17px; }
  div#workspace #canvas {
    width: 960px;
    height: 1100px; }
  div#workspace div#menu {
    width: 20%;
    margin: 0px;
    float: right;
    background-color: #333333;
    height: 100%;
    margin-top: 25px; }
    div#workspace div#menu div#elements {
      padding: 5px;
      padding-bottom: 0px; }
      div#workspace div#menu div#elements i {
        display: inline-block;
        width: 25px;
        height: 25px;
        text-align: center;
        line-height: 25px;
        cursor: pointer;
        font-size: 15px; }
        div#workspace div#menu div#elements i:hover {
          background-color: #2d2d2d; }
    div#workspace div#menu div.menu-box {
      margin: 0px;
      padding: 5px;
      /* define html properties form css */ }
      div#workspace div#menu div.menu-box div#properties-container {
        text-align: center;
        margin: 0px;
        padding: 0px; }
        div#workspace div#menu div.menu-box div#properties-container h1 {
          text-transform: uppercase;
          padding-bottom: 5px;
          padding-top: 5px; }
          div#workspace div#menu div.menu-box div#properties-container h1 i {
            cursor: pointer;
            margin-left: 5px; }
        div#workspace div#menu div.menu-box div#properties-container div.prop-item {
          margin-bottom: 1px;
          position: relative;
          height: 17px;
          background-color: #555555; }
          div#workspace div#menu div.menu-box div#properties-container div.prop-item:hover {
            background-color: #626262; }
            div#workspace div#menu div.menu-box div#properties-container div.prop-item:hover input {
              background-color: #626262; }
          div#workspace div#menu div.menu-box div#properties-container div.prop-item label {
            text-align: left;
            text-transform: uppercase;
            position: absolute;
            top: 2px;
            left: 0px;
            padding-left: 3px;
            font-size: 11px;
            width: 30%; }
          div#workspace div#menu div.menu-box div#properties-container div.prop-item input {
            outline: none;
            background-color: #555555;
            color: #f2f2f2;
            text-align: right;
            border: none;
            position: absolute;
            right: 0px;
            top: 0px;
            font-size: 12px;
            padding-right: 3px;
            height: 15px;
            width: 70%; }
        div#workspace div#menu div.menu-box div#properties-container button {
          width: 100%;
          display: block;
          background-color: #3f3f3f;
          text-align: center;
          border: none;
          color: white;
          text-transform: uppercase;
          font-size: 11px;
          padding: 2px;
          cursor: pointer;
          margin: 0px;
          margin-bottom: 1px; }
          div#workspace div#menu div.menu-box div#properties-container button:hover {
            opacity: 0.92; }
        div#workspace div#menu div.menu-box div#properties-container button#btn-save-changes {
          background-color: #8cbf26; }
        div#workspace div#menu div.menu-box div#properties-container button#btn-delete {
          background-color: #555555; }
          div#workspace div#menu div.menu-box div#properties-container button#btn-delete:hover {
            background-color: #e44972; }
        div#workspace div#menu div.menu-box div#properties-container textarea {
          width: 100%;
          background-color: #555555;
          outline: none;
          height: 250px; }
      div#workspace div#menu div.menu-box > ul {
        border-bottom: 1px solid #555555;
        padding-left: 5px; }
        div#workspace div#menu div.menu-box > ul li {
          display: inline-block;
          color: #999;
          background-color: #555555;
          text-transform: uppercase;
          padding: 3px 10px;
          font-size: 11px;
          cursor: pointer;
          text-align: center; }
          div#workspace div#menu div.menu-box > ul li.active {
            color: white; }
          div#workspace div#menu div.menu-box > ul li:hover {
            color: white; }
    div#workspace div#menu div#menu-library input[type=file] {
      display: none; }
    div#workspace div#menu div#menu-library p.button {
      background-color: #8cbf26;
      display: block;
      text-align: center;
      text-transform: uppercase;
      width: 100%;
      cursor: pointer;
      padding: 2px 0px;
      font-size: 11px;
      margin-top: 1px; }
      div#workspace div#menu div#menu-library p.button:hover {
        opacity: 0.93; }
    div#workspace div#menu div#menu-library ul#library-file-list {
      max-height: 200px;
      overflow: auto; }
      div#workspace div#menu div#menu-library ul#library-file-list li {
        position: relative;
        background-color: #555555;
        margin-top: 1px; }
        div#workspace div#menu div#menu-library ul#library-file-list li:hover {
          background-color: #333333; }
        div#workspace div#menu div#menu-library ul#library-file-list li img {
          margin-right: 3px; }
        div#workspace div#menu div#menu-library ul#library-file-list li i {
          position: absolute;
          right: 5px;
          top: 5px;
          text-transform: none;
          font-weight: 600;
          cursor: pointer; }
  div#workspace div.clear {
    clear: both; }

div#preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  opacity: 0.8;
  z-index: 1000; }
  div#preloader p {
    text-align: center;
    padding: 20px; }
