@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}

@mixin transition($transition-property, $transition-time) {
	-webkit-transition: $transition-property $transition-time;
	-moz-transition: $transition-property $transition-time;
	-ms-transition: $transition-property $transition-time;
	-o-transition: $transition-property $transition-time;
	transition: $transition-property $transition-time;
}

$grey: #333333;
$light-grey: #555555;
$green: #8cbf26;
$pink: #e44972;

html {
    background-color: $grey;
    color: #f1f1f1;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

div#top-menu {
    background-color: white;
    color: #111;
    text-transform: uppercase;
    font-size: 11px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    
    ul {
        li {
            display: inline-block;
            padding: 5px;
            cursor: pointer;
            
            &:hover {
                background-color: #eee;
            }
        }
        
        li.selected {
            color: $green;
        }
    }
    
    div#top-submenu {
        background-color: $grey;
        color: white;
        width: 100%;
        
        ul {
            display: none;
            li {
                &:hover {
                    background-color: $light-grey;
                }
            }
        }
    }
}

div#status {
    color: white;
    font-size: 10px;
    text-transform: uppercase;
    background-color: $grey;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;

    p {
        padding-top: 3px;
        padding-left: 5px;
    }
}

div#workspace {
    height: 100%;
    overflow: hidden;
    
    div#canvas-container {
        margin: 0px;
        padding: 0px;
        overflow: auto;
        background-color: #5A5B5D;
        height: 100%;
        width: 80%;
        float: left;
        text-align: center;
        margin-top: 25px;
        margin-bottom: 17px;
    }
    
    #canvas {
        width: 960px;
        height: 1100px;
    }
    
    div#menu {
        width: 20%;
        margin: 0px;
        float: right;
        background-color: $grey;
        height: 100%;
        margin-top: 25px;
    
        div#elements {
            padding: 5px;
            padding-bottom: 0px;
    
            i {
                display: inline-block;
                width: 25px;
                height: 25px;
                text-align: center;
                line-height: 25px;
                cursor: pointer;
                font-size: 15px;
    
                &:hover {
                    background-color: #2d2d2d;
                }
            }
        }
    
        div.menu-box {
            margin: 0px;
            padding: 5px;
    
            /* define html properties form css */
            div#properties-container {
                text-align: center;
                margin: 0px;
                padding: 0px;
    
                h1 {
                    text-transform: uppercase;
                    padding-bottom: 5px;
                    padding-top: 5px;
    
                    i {
                        cursor: pointer;
                        margin-left: 5px;
                    }
                }
    
                div.prop-item {
                    margin-bottom: 1px;
                    position: relative;
                    height: 17px;
                    background-color: $light-grey;
                    
                    &:hover {
                        background-color: #626262;
                        
                        input {
                            background-color: #626262;
                        }
                    }
    
                    label {
                        text-align: left;
                        text-transform: uppercase;
                        position: absolute;
                        top: 2px;
                        left: 0px;
                        padding-left: 3px;
                        font-size: 11px;
                        width: 30%;
                    }
    
                    input {
                        outline: none;
                        background-color: $light-grey;
                        color: #f2f2f2;
                        text-align: right;
                        border: none;
                        position: absolute;
                        right: 0px;
                        top: 0px;
                        font-size: 12px;
                        padding-right: 3px;
                        height: 15px;
                        width: 70%;
                    }
                }
    
                button {
                    width: 100%;
                    display: block;
                    background-color: #3f3f3f;
                    text-align: center;
                    border: none;
                    color: white;
                    text-transform: uppercase;
                    font-size: 11px;
                    padding: 2px;
                    cursor: pointer;
                    margin: 0px;
                    margin-bottom: 1px;
    
                    &:hover {
                        opacity: 0.92;
                    }
                }
    
                button#btn-save-changes {
                    background-color: $green;
                }
    
                button#btn-delete {
                    background-color: $light-grey;
                    
                    &:hover {
                        background-color: $pink;
                    }
                }
    
                textarea {
                    width: 100%;
                    background-color: $light-grey;
                    outline: none;
                    height: 250px;
                }
            }
    
            > ul {
                border-bottom: 1px solid $light-grey;
                padding-left: 5px;
                
                li {
                    display: inline-block;
                    color: #999;
                    background-color: $light-grey;
                    text-transform: uppercase;
                    padding: 3px 10px;
                    font-size: 11px;
                    cursor: pointer;
                    text-align: center;
    
                    &.active {
                        color: white;
                    }
    
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    
        div#menu-library {
            input[type=file] {
                display: none;
            }
    
            p.button {
                background-color: $green;
                display: block;
                text-align: center;
                text-transform: uppercase;
                width: 100%;
                cursor: pointer;
                padding: 2px 0px;
                font-size: 11px;
                margin-top: 1px;
    
                &:hover {
                    opacity: 0.93;
                }
            }
    
            ul#library-file-list {
                max-height: 200px;
                overflow: auto;
    
                li {
                    position: relative;
                    background-color: $light-grey;
                    margin-top: 1px;
    
                    &:hover {
                        background-color: $grey;
                    }
    
                    img {
                        margin-right: 3px;
                    }
                    
                    span {
                        max-width: 180px;
                        overflow: hidden;
                        display: inline-block;
                        
                        &:hover {
                            max-width: none;
                        }
                    }
    
                    i {
                        position: absolute;
                        right: 5px;
                        top: 7px;
                        cursor: pointer;
                        font-size: 13px;
                        
                        &:hover {
                            opacity: 0.95;
                        }
                    }
                }
            }
        }
    }
    
    div.clear {
        clear: both;
    }
}

div#preloader {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    opacity: 0.8;
    z-index: 1000;

    p {
        text-align: center;
        padding: 20px;
    }
}

/* PRESENTER: external-css */
input#tb-external-css {
    display: block;
    width: 100%;
    background-color: white;
    border: none;
    padding: 2px 5px;
    box-sizing: border-box;
    font-size: 11px;
    margin: 0px;
    margin-top: 1px;
}

button#btn-add-external-css {
    background-color: $green;
    padding: 2px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    display: block;
    border: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 11px;
    cursor: pointer;
    margin: 0px;
    margin-top: 1px;
    
    &:hover {
        opacity: 0.9;
    }
}

ul#external-css-list {
    li {
        position: relative;
        
        span {
            display: block;
            background-color: $light-grey;
            color: white;
            font-family: 'Noto Sans', sans-serif;
            border: none;
            width: 100%;
            padding: 2px 5px;
            box-sizing: border-box;
            font-size: 11px;
            margin: 0px;
            margin-top: 1px;
        }
        
        i {
            position: absolute;
            right: 3px;
            top: 4px;
            cursor: pointer;
        }
    }
}
/* END OF PRESENTER */

/* MODAL DIALOG */
div#modal-dialog-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../img/transparent-dark.png');
    z-index: 99999;
    
    div#modal-dialog {
        width: 700px;
        margin: auto;
        background-color: white;
        color: #333;
        
        div#modal-dialog-title {
            padding: 5px;
            font-size: 15px;
        }
        
        div#modal-dialog-content {
            padding: 5px;
            
            input {
                width: 100%;
                border: 1px solid $light-grey;
                color: $grey;
                background-color: white;
                font-size: 11px;
                font-family: 'Noto Sans', sans-serif;
            }
            
            a {
                color: $green;
            }
        }
        
        div#modal-dialog-footer {
            padding: 5px;
            text-align: right;
            
            .button {
                background-color: $green;
                padding: 2px 10px;
                color: white;
                cursor: pointer;
                margin-left: 2px;
                
                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}
/* END OF MODAL DIALOG */

/* TOOLTIP */
div#tooltip {
    position: absolute;
    background-color: $green;
    color: white;
    padding: 3px;
}
/* END OF TOOLTIP */