<h1>
    {{ type }}
    <i id="btn-parent" class="fa fa-chevron-circle-up" title="{{ parent }}"></i>
</h1>

{{#properties}}
<div class="prop-item">
    <label for="prop-{{ name }}">{{ name }}</label>
    <input id="prop-{{ name }}" type="text" value="{{ value }}" />
</div>
{{/properties}}

<button id="btn-save-changes"><i class="fa fa-check"></i> save changes</button>
<button class="warning" id="btn-delete"><i class="fa fa-times"></i> delete</button>
