{{#properties}}
<div class="prop-item">
    <label for="prop-{{ name }}">{{ name }}</label>
    <input id="prop-{{ name }}" type="text" value="{{ value }}" />
</div>
{{/properties}}

<div class="separator">&nbsp;</div>

<button id="btn-save-changes">save changes</button>
<button class="warning" id="btn-delete">delete</button>
