<ul id="library-file-list">
{{#files}}
    <li>
        <img src="{{ file }}" width="30" height="30" />
        <span>{{ name }}</span>
        <i file-name="{{ name }}">x</i>
    </li>
{{/files}}
</ul>
