<ul id="library-file-list">
{{#files}}
    <li>
        <img src="{{ file }}" width="30" height="30" />
        <span>{{ name }}</span>
        <i class="fa fa-times-circle" file-name="{{ name }}"></i>
    </li>
{{/files}}
</ul>
