<div title="Create DIV">
    <form>
        <fieldset>
            <label id="lbl-cols" cols="12" for="cols">12 columns</label>
            <br />
            <br />
            <div id="slide-cols"></div>
        </fieldset>
    </form>
</div>
